{:paths ["src" "resources"]
 :deps  {org.clojure/clojurescript {:mvn/version "1.10.773"}
         com.bhauman/figwheel-main {:mvn/version "0.2.11"}
         reagent                   {:mvn/version "0.10.0"}}}